@font-face {
    font-family : "VG5000";
    src: url(VG5000-Regular.otf) format('opentype');
}

body {
    border: 3px solid #393939;
    padding: 1px;
    margin: 0px;
    width: 350px !important;
    min-width: 25vw;
    max-width: 500px;
}

* {
    font-family: 'VG5000';
    font-size: 1.1em;
    background-color: #E4DDC9;
}

h1 {
    font-size: 1.4em;
    text-align: center;
}

.explanation {
    padding: 5px;
}

.intro {
    text-align: center;

}

#lecture {
    margin-top : 0.5vh;
    font-size: 90%;
    font-style: italic;
}


.checkbox-text {
    font-size: 85%;
    /* font-style: italic; */
    color: gray;
}