* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

h1 {
    font-size: 1.4em;
}

.explanation {
    width: 200px !important;
    padding: 5px;
}


.checkbox-text {
    font-size: 0.8em;
    /* font-style: italic; */
}